#nav-icon {
width: 30px;
  height: 35px;
  position: relative;
  margin: 5px auto;
  cursor: pointer;
  transform: rotate(0deg);
  transition: .2s ease-in-out;
}

#nav-icon span {
display: block;
  background: var(--foreground-color);
  height: 4px;
  width: 50%;
  opacity: 1;
  position: absolute;
  transform: rotate(0deg);
  transition: .2s ease-in-out;

}















@property --g {
    sintax: "<percentaje>";
    initial-value: 0%;
    inherits: false;
}

.scrollToTop {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    
    width: 50px;
    aspect-ratio: 1;
    
    background-color: black;
    border-radius: 50%;

    z-index: 999;

    border: none;

    opacity: 0;

    animation: fade-in 1s ease-in;
    animation-fill-mode: forwards;
    animation-timeline: scroll();
    animation-range: 50vh 100vh;

    .arrow {
        stroke: white;
        stroke-width: 2px;
        stroke-linecap: round;
        stroke-linejoin: round;
        width: 30px;
        height: 30px;
    }

    a {
        width: 100%;
        height: 100%;

        border-radius: 50%;

        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        background-color: black;
        

        &::before, &::after {
            content: "";
            position: absolute;
            border-radius: inherit;
            inset: -4px;

            z-index: -1;
        }

        &::after {
            background: conic-gradient(white var(--g), transparent var(--g));
            animation: scrollProgress auto linear;
            animation-timeline: scroll(root);
        }
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes scrollProgress {
    to {
        --g: 100%;
    }
}