#nav-icon {
width: 30px;
  height: 35px;
  position: relative;
  margin: 5px auto;
  cursor: pointer;
  transform: rotate(0deg);
  transition: .2s ease-in-out;
}

#nav-icon span {
display: block;
  background: var(--foreground-color);
  height: 4px;
  width: 50%;
  opacity: 1;
  position: absolute;
  transform: rotate(0deg);
  transition: .2s ease-in-out;

}
